services:
  zoo1:
    image: confluentinc/cp-zookeeper:7.8.0
    hostname: zoo1
    container_name: zoo1
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zoo1:2888:3888
    networks:
      - mynetwork

  kafka1:
    image: confluentinc/cp-kafka:7.8.0
    hostname: kafka1
    container_name: kafka1
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka1:19092,EXTERNAL://localhost:9092,DOCKER://kafka1:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zoo1:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zoo1
    networks:
      - mynetwork

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main_db
    ports:
      - "5432:5432"
    networks:
      - mynetwork

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9090:9090"
    depends_on:
      - ml_service 
    networks:
      - mynetwork

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    user: "0"
    depends_on:
      - prometheus
    networks:
      - mynetwork
      
  auth_service:
    build:
      context: ./auth_service
    container_name: auth_service
    ports:
      - "8000:8000"
    depends_on:
      - kafka1
      - postgres
    networks:
      - mynetwork

  producer_service:
    build:
      context: ./producer_service
    container_name: producer_service
    ports:
      - "5050:5050"
    environment:
      KAFKA_SERVERS: kafka1:29092
    depends_on:
      - kafka1
    networks:
      - mynetwork

  ml_service:
    build:
      context: ./ml_service
    container_name: ml_service
    ports:
      - "7070:7070"
    environment:
      DATABASE_URL: postgresql+asyncpg://user:password@postgres:5432/main_db
      KAFKA_SERVERS: kafka1:29092
    depends_on:
      - kafka1
      - postgres
    networks:
      - mynetwork
    restart: on-failure

  notification_service:
    build:
      context: ./notification_service
    container_name: notification_service
    ports:
      - "7071:7071"
    environment:
      KAFKA_SERVERS: kafka1:29092
    depends_on:
      - kafka1
      - ml_service
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge